<div style =" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center" *ngIf="!(authService.user | async)"> <!--אם המשתמש לא מחובר תופיע לו הודעה בהתאם  -->
    <h1>You are not logged in ,and you can not see this page!</h1>
</div>
<div *ngIf = "(authService.user | async)">  <!-- אם מחובר תציג את הדף -->

<mat-card class="example-card">
            <mat-card-header >
                <div mat-card-avatar class="example-header-image"></div>
                <img class="image" mat-card-image src="./assets/gif/HoUt.gif" alt="welcom gif"> 
            </mat-card-header>

            <div *ngIf="authService.user | async">
                <mat-card-subtitle class="subtitle">
                    {{(authService.user | async)?.displayName}} ,we glad you joined us!
                </mat-card-subtitle>
            </div>
            <br>
            <br>
            <mat-card-content>
                <mat-card-subtitle class="sub">
                        Add yor todo task :
                </mat-card-subtitle>
                <mat-form-field class="example-container">
                    <input  [(ngModel)] = "text" name = "text" matInput placeholder="Add todo item">
                </mat-form-field>
                <mat-card-actions class="todo-button">
                    <button  mat-stroked-button color="primary" (click)="addTodo()">Add Todo</button>
                </mat-card-actions>   
            </mat-card-content>
            <br>
            <mat-form-field class="example-container">
                    <mat-select placeholder="Status to Filter" [(value)]="status" (selectionChange)="toFilter()">
                      <mat-option *ngFor="let done of taskStatus" [value]="done">
                        <span *ngIf = "done">Done</span>
                        <span *ngIf = "!done">Un-done</span>
                      </mat-option>
                      <mat-option>All</mat-option>
                    </mat-select>
                  </mat-form-field> 
            <mat-card-content>
                <br>
                <mat-card-subtitle class="sub2">
                Your current todo task :
                </mat-card-subtitle>
                <todo class="checkbox" *ngFor = "let todo of todos"
                        [data] = "todo"
                        (myButtonClicked) = "showText($event)">
                </todo>
                <div *ngIf = "todos.length=='0'" class="text"  >
                    {{todoTextFromTodo}}
                </div> 
            </mat-card-content>
            <br>
            <br>
            <div >
                    <h4 class="explain-card"> 
                        Explanation about the icon:
                    </h4> 
            
                    <p class="explain-card" style="margin-left: 50px;">
                            <mat-icon>mode_edit</mat-icon>  
                            <span>Edit</span>
                            <br>
                            <mat-icon>done</mat-icon>  
                            <span>Save changes</span>
                            <br>
                            <mat-icon>close</mat-icon>  
                            <span>Cancel changes</span>
                            <br>
                            <mat-icon>delete</mat-icon>  
                            <span>Delete todo task</span>
                    </p>
            </div>
    </mat-card>
</div>

         
         


    


 
      
    

   
   
  