


<div class="checkbox">
<mat-checkbox [(ngModel)]="status"
                (change) = "checkChange()">        
</mat-checkbox >
<span *ngIf = "!showEditField" class="todo">
                {{text}} 
                <button mat-icon-button  class="icon">
                <mat-icon (click) = "showEdit()" >mode_edit</mat-icon>   
              </button >
</span> 


  <mat-form-field *ngIf = "showEditField">
                <input [(ngModel)]= "text"  matInput >
        </mat-form-field>
      <button mat-icon-button class="icon">
        <mat-icon (click) = "save()" *ngIf = "showEditField"  >done</mat-icon>
      </button>
      <button mat-icon-button class="icon">
        <mat-icon (click) = "cancel()" *ngIf = "showEditField" >close</mat-icon>
      </button>
      <button mat-icon-button class="icon">
        <mat-icon (click)= "toDelete()">delete</mat-icon>
      </button> 
</div>
