
.todo
{
    line-height: 35px; 
    font-size: 20px
}
.checkbox{
    text-align: left;
    margin-left: 150px;
  }
  
.mat-icon-button,.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    padding: 0;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 0;
    width: fit-content;
    height: 0px;
    flex-shrink: 0;
    line-height: 0px;
}